{% extends "blog/base.html"  %}

{% block title %}
    Blogg - {{ block.super }}
{% endblock %}

{% block content %}    

<div class="content">
    <div class="section-inner clearfix">

    {% for post in posts %}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{post.author.user.author.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.created_at|date:"F d,Y " }}</small>
        </div>
        <h3><a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a></h3>
        <p class="article-content">{{ post.content|truncatechars:120 }}</p>
           <p class="post-info">
            {% include 'blog/post_info.html' %}
        </p>
<!--            <a class="article-title" href="{{ post.get_absolute_url }}">Read More</a>-->
            <a href="{{ post.get_absolute_url }}" class="btn btn-secondary btn-sm mt-1 mb-1">Read More</a>
    </article>
    {% empty %}
        <p>There are no posts</p>
    {% endfor %}

    </div>
</div>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1" class = 'btn btn-outline-info mb-4'>First</a>
            <a href="?page={{page_obj.previous.page_number}}" class = 'btn btn-outline-info mb-4'>Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a href="?page={{num}}" class = 'btn btn-info mb-4'>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3'%}
            <a href="?page={{num}}" class = 'btn btn-info mb-4'>{{ num }}</a>

            {% endif %}
        {% endfor %}
            {% if page_obj.has_next %}

            <a href="?page={{page_obj.next.page_number}}" class = 'btn btn-outline-info mb-4'>Next</a>
            <a href="?page={{page_obj.paginator.num_pages}}" class = 'btn btn-outline-info mb-4'>Last</a>
    {% endif %}


    {% endif %}
{% endblock %}
